// Big screen Styles
.services-container {
  margin: 10vh 20px;
  height: 100%;
  overflow: hidden;

  h3 {
    text-align: center;
  }
  h2 {
    text-align: center;
  }
}

.services-content {
  margin: 20px;
  display: flex;
  justify-content: space-evenly;
}

.service-card {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin: 5px;
  border: 1px solid white;
  border-radius: 25px;

  p {
    margin: 15px;
  }
}
